<ul class="txt-stats-anta">
  <li><span class="txt-main">NO</span>：背番号</li>
  <li><span class="txt-main">G</span>：試合数</li>
  <li><span class="txt-main">MIN</span>：総プレイ時間</li>
  <li><span class="txt-main">MINPG</span>：平均プレイ時間</li>
  <li><span class="txt-main">PTS</span>：総得点数</li>
  <li><span class="txt-main">PPG</span>：平均得点数</li>
  <li><span class="txt-main">FGM</span>：フィールドゴール成功数</li>
  <li><span class="txt-main">FGA</span>：フィールドゴール試投数</li>
  <li><span class="txt-main">FG%</span>：フィールドゴール成功率</li>
  <li><span class="txt-main">3FGM</span>：3Pシュート成功数</li>
  <li><span class="txt-main">3FGA</span>：3Pシュート試投数</li>
  <li><span class="txt-main">3FG%</span>：3Pシュート成功率</li>
  <li><span class="txt-main">FTM</span>：フリースロー成功数</li>
  <li><span class="txt-main">FTA</span>：フリースロー試投数</li>
  <li><span class="txt-main">FT%</span>：フリースロー成功率</li>
  <li><span class="txt-main">OR</span>：オフェンスリバウンド数</li>
  <li><span class="txt-main">DR</span>：ディフェンスリバウンド数</li>
  <li><span class="txt-main">TR</span>：トータルリバウンド数</li>
  <li><span class="txt-main">RPG</span>：平均トータルリバウンド数</li>
  <li><span class="txt-main">AS</span>：アシスト数</li>
  <li><span class="txt-main">APG</span>：平均アシスト数</li>
  <li><span class="txt-main">TO</span>：ターンオーバー数</li>
  <li><span class="txt-main">ST</span>：スティール数</li>
  <li><span class="txt-main">STPG</span>：平均スティール数</li>
  <li><span class="txt-main">BS</span>：ブロック数</li>
  <li><span class="txt-main">BSPG</span>：平均ブロック数</li>
  <li><span class="txt-main">F</span>：ファウル数</li>
</ul>