<div class="col-sm-6">
  <li class="team-index">
    <%= link_to team.name, team, class: "hover-white bold" %>
    (<%= team.players.count %>)  
    <br><p><%= team.following.count %> フォロー | <%= team.followers.count %> フォロワー</p>
  </li>
</div>