<h1>Team App</h1>

<p>Hi <%= @player.name %>,</p>

<p>
Welcome to the Team App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@player.activation_token,
                                                    email: @player.email) %>