<h1>Team App</h1>

<p><%= @team.name %></p>

<p>
  <%= @follower.name %> started following you!
  Click on the link below to check your followers:
</p>

<%= link_to "Your follower list",
      followers_team_url(@team) %>