<% @team ||= current_team %>
<div class="stats center">
  <a href="<%= following_team_path(@team) %>">
    <strong id="following" class="stat">
      <%= @team.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_team_path(@team) %>">
    <strong id="followers" class="stat">
      <%= @team.followers.count %>
    </strong>
    フォロワー
  </a>
</div>