<div class="footer-background">
  <div class="container">
    <footer class="footer">
      <small>
        Team App by R.Yano
      </small>
      <nav>
        <ul>
          <li>
            <a href="https://feedly.com/i/subscription/feed/https%3A%2F%2Fe6f6c6623bdb4da99b2b1e03ebb963e8.vfs.cloud9.us-east-2.amazonaws.com%2Ffeeds" 
            target="blank"><img id="theButton" 
            src="https://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png" 
            alt="follow" width="131" height="56" style="margin-top:14px;" 
            exifid="-1877203022" 
            oldsrc="http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png" 
            class="aligncenter"></a>
          </li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>